@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		150deg,
		rgba(163, 0, 0, 0.3),
		rgba(0, 0, 172, 0.2),
		rgba(190, 0, 0, 0.4),
		white
	);
	background-repeat: none;
	flex-wrap: wrap;
}
.App > form {
	width: 400px;
	padding: 20px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 2px 15px 10px rgba(0, 0, 0, 0.2);
}
h1 {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: "Big Shoulders Display", cursive;
	font-weight: 700;
	font-size: 40px;
}
form > button {
	width: 80px;
	padding: 10px;
	background-color: black;
	color: white;
	height: 40px;
	border-radius: 15px;
	border: none;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}
